html {
font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2E4147;
  color: #AFAFDC;
  font-family: 'Bangers', cursive;

}

#headBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 99;
  background-color: #A2A77F;
  color: #2E4147;
}

#logoTitle {
  display: flex;
  border-right: 1px solid black;
  height: inherit;
  margin: auto 0;

}

#logoTitle img {
  border-radius: 5%;
  height: inherit;
  width: auto;
  margin: 0 auto;
}

#logoTitle h1 {
  font-size: 2rem;
  padding: 0 20px;
  margin: auto 0;

}

#navLinks {
  border: 1px solid black;
  margin: 10px;
  display: inline-block;
}

#navList {
  list-style: none;
}
