body #headBar {
  width: 100%;
}

#logoTitle {
  border: 1px solid black;
  margin: 10px;
}

#logoTitle img {
  border-radius: 5%;
}

#navLinks {
  border: 1px solid black;
    margin: 10px;
}

#headBar {
  border: 1px solid black;
  width: 100%;
}
