html {
font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2E4147;
  color: #AFAFDC;
  font-family: 'Bangers', cursive;

}

#headBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 99;
  background-color: #A2A77F;
  color: #2E4147;
}

#logoTitle {
  display: flex;
  border-right: 3px solid black;
  height: inherit;
  margin: auto 0;

}

#logoTitle img {
  height: inherit;
  width: auto;
  margin: 0 auto;
}

#logoTitle h1 {
  font-size: 2rem;
  padding: 0 20px;
  margin: auto 0;
}

@media only screen and (max-width: 920px) {
  #logoTitle h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 720px) {
  #logoTitle h1 {
    display: none;
  }

  #navLinks {
    width: 60%;
  }
}

#navLinks {
  height: inherit;
}

#navList {
  list-style: none;
  display: flex;
  height:inherit;
  margin: auto 0;
  margin-right: 20px;
}

#navList li {
  margin: auto 0;
  flex-shrink: 0
}

.clicker {
  padding: 10px;
  margin: auto 0;
  text-decoration: none;
  color: #2E4147;
  flex-shrink: 0;
}

.clicker: visited {
  color: pink;
}
